@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
    <script>
        //just a temporary workaround - refresh page every 10 min to keep bot alive
        function timedRefresh(timeoutPeriod) {
            setTimeout("location.reload(true);", timeoutPeriod);
        }
        window.onload = timedRefresh(600000);
    </script>
<div class="text-center">
    <h1 class="display-4">Welcome on SegasBot page!</h1>
</div>
