@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Free license</p>
<p>This application is free to use and all code sources are available <a href="https://github.com/Shinigami302/SegasTelegramBot"> here</a>. </p>